@model LocationPartViewModel

<a display-for="@Model.LocationPart.Country">@Model.Country</a>
<a display-for="@Model.LocationPart.City">@Model.City</a>
<a display-for="@Model.LocationPart.Street">@Model.Street</a>
<a display-for="@Model.LocationPart.Site">@Model.Site</a>
<a display-for="@Model.LocationPart.Building">@Model.Building</a>
<a display-for="@Model.LocationPart.Floor">@Model.Floor</a>
<a display-for="@Model.LocationPart.Zone">@Model.Zone</a>
<a display-for="@Model.LocationPart.Room">@Model.Room</a>
<a display-for="@Model.LocationPart.DateTime">@Model.DateTime</a>
