@model LocationPartViewModel
<div><strong>@Model.Country</strong></div>
<div><strong>@Model.City</strong></div>
<div><strong>@Model.Street</strong></div>
<div><strong>@Model.Site</strong></div>
<div><strong>@Model.Building</strong></div>
<div><strong>@Model.Floor</strong></div>
<div><strong>@Model.Zone</strong></div>
<div><strong>@Model.Room</strong></div>
<div><strong>@Model.DateTime</strong></div>
