@model SpecificationPartViewModel

<a display-for="@Model.SpecificationPart.Description">@Model.Description</a>
<a display-for="@Model.SpecificationPart.AssignerContentItemId">@Model.AssignerContentItemId</a>
<a display-for="@Model.SpecificationPart.AssigneeContentItemId">@Model.AssigneeContentItemId</a>
<a display-for="@Model.SpecificationPart.Supplement">@Model.Supplement</a>
<a display-for="@Model.SpecificationPart.RootCause">@Model.RootCause</a>
<a display-for="@Model.SpecificationPart.IsPlanned">@Model.IsPlanned</a>
<a display-for="@Model.SpecificationPart.IsIncident">@Model.IsIncident</a>
<a display-for="@Model.SpecificationPart.IsOutsourced">@Model.IsOutsourced</a>
<a display-for="@Model.SpecificationPart.ReportStatus">@Model.ReportStatus</a>
<a display-for="@Model.SpecificationPart.OfferContentItemId">@Model.OfferContentItemId</a>
<a display-for="@Model.SpecificationPart.Behavior">@Model.Behavior</a>
<a display-for="@Model.SpecificationPart.Asset">@Model.Asset</a>
<a display-for="@Model.SpecificationPart.Event">@Model.Event</a>
<a display-for="@Model.SpecificationPart.Others">@Model.Others</a>
<a display-for="@Model.SpecificationPart.Sender">@Model.Sender</a>
<a display-for="@Model.SpecificationPart.Writer">@Model.Writer</a>
<a display-for="@Model.SpecificationPart.Photos">@Model.Photos</a>
<a display-for="@Model.SpecificationPart.Clips">@Model.Clips</a>
<a display-for="@Model.SpecificationPart.Audio">@Model.Audio</a>
<a display-for="@Model.SpecificationPart.Files">@Model.Files</a>
<a display-for="@Model.SpecificationPart.LocationContentItemId">@Model.LocationContentItemId</a>
<a display-for="@Model.SpecificationPart.DateTime">@Model.DateTime</a>
