@model SpecificationPartViewModel
<div><strong>@Model.Description</strong></div>
<div><strong>@Model.AssignerContentItemId</strong></div>
<div><strong>@Model.AssigneeContentItemId</strong></div>
<div><strong>@Model.Supplement</strong></div>
<div><strong>@Model.RootCause</strong></div>
<div><strong>@Model.IsPlanned</strong></div>
<div><strong>@Model.IsIncident</strong></div>
<div><strong>@Model.IsInHouse</strong></div>
<div><strong>@Model.IsOutsourced</strong></div>
<div><strong>@Model.ReportStatus</strong></div>
<div><strong>@Model.OfferContentItemId</strong></div>
<div><strong>@Model.Behavior</strong></div>
<div><strong>@Model.Asset</strong></div>
<div><strong>@Model.Event</strong></div>
<div><strong>@Model.Others</strong></div>
<div><strong>@Model.Sender</strong></div>
<div><strong>@Model.Writer</strong></div>
<div><strong>@Model.Photos</strong></div>
<div><strong>@Model.Clips</strong></div>
<div><strong>@Model.Audio</strong></div>
<div><strong>@Model.Files</strong></div>
<div><strong>@Model.LocationContentItemId</strong></div>
<div><strong>@Model.DateTime</strong></div>
