@model StaffPartViewModel

<a display-for="@Model.StaffPart.Nickname">@Model.Nickname</a>
<a display-for="@Model.StaffPart.AvatarId">@Model.AvatarId</a>
<a display-for="@Model.StaffPart.Operator">@Model.Operator</a>
<a display-for="@Model.StaffPart.Team">@Model.Team</a>
<a display-for="@Model.StaffPart.FullName">@Model.FullName</a>
<a display-for="@Model.StaffPart.UserName">@Model.UserName</a>
<a display-for="@Model.StaffPart.BookmarkedReportContentItemIds">@Model.BookmarkedReportContentItemIds</a>
<a display-for="@Model.StaffPart.Balance">@Model.Balance</a>
<a display-for="@Model.StaffPart.Currency">@Model.Currency</a>
<a display-for="@Model.StaffPart.CustomNickname">@Model.CustomNickname</a>
<a display-for="@Model.StaffPart.StaffId">@Model.StaffId</a>
<a display-for="@Model.StaffPart.Birthday">@Model.Birthday</a>
<a display-for="@Model.StaffPart.DateTime">@Model.DateTime</a>
