@model StaffPartViewModel
<div><strong>@Model.Nickname</strong></div>
<div><strong>@Model.AvatarId</strong></div>
<div><strong>@Model.Operator</strong></div>
<div><strong>@Model.Team</strong></div>
<div><strong>@Model.FullName</strong></div>
<div><strong>@Model.UserName</strong></div>
<div><strong>@Model.BookmarkedReportContentItemIds</strong></div>
<div><strong>@Model.Balance</strong></div>
<div><strong>@Model.Currency</strong></div>
<div><strong>@Model.CustomNickname</strong></div>
<div><strong>@Model.StaffId</strong></div>
<div><strong>@Model.Birthday</strong></div>
<div><strong>@Model.DateTime</strong></div>
