@model OrchardCore.SimService.ViewModels.OrderDetailPartViewModel

<fieldset class="form-group" asp-validation-class-for="Id">
    <label asp-for="Id">@T["OrderId"] <span asp-validation-for="Id"></span></label>
    <input asp-for="Id" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="Phone">
    <label asp-for="Phone">@T["Phone"] <span asp-validation-for="Phone"></span></label>
    <input asp-for="Phone" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="Operator">
    <label asp-for="Operator">@T["Operator"] <span asp-validation-for="Operator"></span></label>
    <input asp-for="Operator" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="Product">
    <label asp-for="Product">@T["Product"] <span asp-validation-for="Product"></span></label>
    <input asp-for="Product" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="Price">
    <label asp-for="Price">@T["Price"] <span asp-validation-for="Price"></span></label>
    <input asp-for="Price" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="Status">
    <label asp-for="Status">@T["Status"] <span asp-validation-for="Status"></span></label>
    <input asp-for="Status" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="Expires">
    <label asp-for="Expires">@T["Expires"] <span asp-validation-for="Expires"></span></label>
    <input asp-for="Expires" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="Created_at">
    <label asp-for="Created_at">@T["Created_at"] <span asp-validation-for="Created_at"></span></label>
    <input asp-for="Created_at" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="Country">
    <label asp-for="Country">@T["Country"] <span asp-validation-for="Country"></span></label>
    <input asp-for="Country" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="Email">
    <label asp-for="Email">@T["Email"] <span asp-validation-for="Email"></span></label>
    <input asp-for="Email" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="UserId">
    <label asp-for="UserId">@T["UserId"] <span asp-validation-for="UserId"></span></label>
    <input asp-for="UserId" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="UserName">
    <label asp-for="UserName">@T["UserName"] <span asp-validation-for="UserName"></span></label>
    <input asp-for="UserName" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="Category">
    <label asp-for="Category">@T["Category"] <span asp-validation-for="Category"></span></label>
    <input asp-for="Category" class="form-control" />
</fieldset>