@model OrchardCore.SimService.ViewModels.OrderDetailPartViewModel

<div>@T["OrderId: {0}", Model.Id]</div>
<div>@T["Phone: {0}", Model.Phone]</div>
<div>@T["Operator: {0}", Model.Operator]</div>
<div>@T["Product: {0}", Model.Product]</div>
<div>@T["Price: {0}", Model.Price]</div>
<div>@T["Status: {0}", Model.Status]</div>
<div>@T["Expires: {0}", Model.Expires]</div>
<div>@T["Created_at: {0}", Model.Created_at]</div>
<div>@T["Country: {0}", Model.Country]</div>
<div>@T["Email: {0}", Model.Email]</div>
<div>@T["UserId: {0}", Model.UserId]</div>
<div>@T["UserName: {0}", Model.UserName]</div>
<div>@T["Category: {0}", Model.Category]</div>
