@model OrchardCore.SimService.ViewModels.PaymentDetailPartViewModel

<fieldset class="form-group" asp-validation-class-for="PaymentId">
    <label asp-for="PaymentId">@T["PaymentId"] <span asp-validation-for="PaymentId"></span></label>
    <input asp-for="PaymentId" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="TypeName">
    <label asp-for="TypeName">@T["TypeName"] <span asp-validation-for="TypeName"></span></label>
    <input asp-for="TypeName" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="ProviderName">
    <label asp-for="ProviderName">@T["ProviderName"] <span asp-validation-for="ProviderName"></span></label>
    <input asp-for="ProviderName" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="Amount">
    <label asp-for="Amount">@T["Amount"] <span asp-validation-for="Amount"></span></label>
    <input asp-for="Amount" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="Balance">
    <label asp-for="Balance">@T["Balance"] <span asp-validation-for="Balance"></span></label>
    <input asp-for="Balance" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="CreatedAt">
    <label asp-for="CreatedAt">@T["CreatedAt"] <span asp-validation-for="CreatedAt"></span></label>
    <input asp-for="CreatedAt" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="UserId">
    <label asp-for="UserId">@T["UserId"] <span asp-validation-for="UserId"></span></label>
    <input asp-for="UserId" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="UserName">
    <label asp-for="UserName">@T["UserName"] <span asp-validation-for="UserName"></span></label>
    <input asp-for="UserName" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="Email">
    <label asp-for="Email">@T["Email"] <span asp-validation-for="Email"></span></label>
    <input asp-for="Email" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="OrderId">
    <label asp-for="OrderId">@T["OrderId"] <span asp-validation-for="OrderId"></span></label>
    <input asp-for="OrderId" class="form-control" />
</fieldset>