@model OrchardCore.SimService.ViewModels.PaymentDetailPartViewModel

<div>@T["PaymentId: {0}", Model.PaymentId]</div>
<div>@T["TypeName: {0}", Model.TypeName]</div>
<div>@T["ProviderName: {0}", Model.ProviderName]</div>
<div>@T["Amount: {0}", Model.Amount]</div>
<div>@T["Balance: {0}", Model.Balance]</div>
<div>@T["CreatedAt: {0}", Model.CreatedAt]</div>
<div>@T["UserId: {0}", Model.UserId]</div>
<div>@T["UserName: {0}", Model.UserName]</div>
<div>@T["Email: {0}", Model.Email]</div>
<div>@T["OrderId: {0}", Model.OrderId]</div>
