@model OrchardCore.SimService.ViewModels.SmsPartViewModel

<div>@T["Created_at: {0}", Model.Created_at]</div>
<div>@T["Sender: {0}", Model.Sender]</div>
<div>@T["Text: {0}", Model.Text]</div>
<div>@T["Code: {0}", Model.Code]</div>
<div>@T["Email: {0}", Model.Email]</div>
<div>@T["UserName: {0}", Model.UserName]</div>
<div>@T["UserId: {0}", Model.UserId]</div>
<div>@T["Date: {0}", Model.Date]</div>
<div>@T["OrderId: {0}", Model.OrderId]</div>
