@model OrchardCore.SimService.ViewModels.SmsPartViewModel

<fieldset class="form-group" asp-validation-class-for="Created_at">
    <label asp-for="Created_at">@T["Created_at"] <span asp-validation-for="Created_at"></span></label>
    <input asp-for="Created_at" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="Sender">
    <label asp-for="Sender">@T["Sender"] <span asp-validation-for="Sender"></span></label>
    <input asp-for="Sender" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="Text">
    <label asp-for="Text">@T["Text"] <span asp-validation-for="Text"></span></label>
    <input asp-for="Text" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="Code">
    <label asp-for="Code">@T["Code"] <span asp-validation-for="Code"></span></label>
    <input asp-for="Code" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="Email">
    <label asp-for="Email">@T["Email"] <span asp-validation-for="Email"></span></label>
    <input asp-for="Email" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="UserName">
    <label asp-for="UserName">@T["UserName"] <span asp-validation-for="UserName"></span></label>
    <input asp-for="UserName" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="UserId">
    <label asp-for="UserId">@T["UserId"] <span asp-validation-for="UserId"></span></label>
    <input asp-for="UserId" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="Date">
    <label asp-for="Date">@T["Date"] <span asp-validation-for="Date"></span></label>
    <input asp-for="Date" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="OrderId">
    <label asp-for="OrderId">@T["OrderId"] <span asp-validation-for="OrderId"></span></label>
    <input asp-for="OrderId" class="form-control" />
</fieldset>