@model OrchardCore.SimService.ViewModels.UserProfilePartViewModel

<fieldset class="form-group" asp-validation-class-for="ProfileId">
    <label asp-for="ProfileId">@T["ProfileId"] <span asp-validation-for="ProfileId"></span></label>
    <input asp-for="ProfileId" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="Email">
    <label asp-for="Email">@T["Email"] <span asp-validation-for="Email"></span></label>
    <input asp-for="Email" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="UserId">
    <label asp-for="UserId">@T["UserId"] <span asp-validation-for="UserId"></span></label>
    <input asp-for="UserId" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="UserName">
    <label asp-for="UserName">@T["UserName"] <span asp-validation-for="UserName"></span></label>
    <input asp-for="UserName" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="Vendor">
    <label asp-for="Vendor">@T["Vendor"] <span asp-validation-for="Vendor"></span></label>
    <input asp-for="Vendor" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="DefaultForwardingNumber">
    <label asp-for="DefaultForwardingNumber">@T["DefaultForwardingNumber"] <span asp-validation-for="DefaultForwardingNumber"></span></label>
    <input asp-for="DefaultForwardingNumber" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="Balance">
    <label asp-for="Balance">@T["Balance"] <span asp-validation-for="Balance"></span></label>
    <input asp-for="Balance" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="OriginalAmount">
    <label asp-for="OriginalAmount">@T["OriginalAmount"] <span asp-validation-for="OriginalAmount"></span></label>
    <input asp-for="OriginalAmount" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="Amount">
    <label asp-for="Amount">@T["Amount"] <span asp-validation-for="Amount"></span></label>
    <input asp-for="Amount" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="RateInUsd">
    <label asp-for="RateInUsd">@T["RateInUsd"] <span asp-validation-for="RateInUsd"></span></label>
    <input asp-for="RateInUsd" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="GmailMsgId">
    <label asp-for="GmailMsgId">@T["GmailMsgId"] <span asp-validation-for="GmailMsgId"></span></label>
    <input asp-for="GmailMsgId" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="Rating">
    <label asp-for="Rating">@T["Rating"] <span asp-validation-for="Rating"></span></label>
    <input asp-for="Rating" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="DefaultCoutryName">
    <label asp-for="DefaultCoutryName">@T["DefaultCoutryName"] <span asp-validation-for="DefaultCoutryName"></span></label>
    <input asp-for="DefaultCoutryName" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="DefaultIso">
    <label asp-for="DefaultIso">@T["DefaultIso"] <span asp-validation-for="DefaultIso"></span></label>
    <input asp-for="DefaultIso" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="DefaultPrefix">
    <label asp-for="DefaultPrefix">@T["DefaultPrefix"] <span asp-validation-for="DefaultPrefix"></span></label>
    <input asp-for="DefaultPrefix" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="DefaultOperatorName">
    <label asp-for="DefaultOperatorName">@T["DefaultOperatorName"] <span asp-validation-for="DefaultOperatorName"></span></label>
    <input asp-for="DefaultOperatorName" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="FrozenBalance">
    <label asp-for="FrozenBalance">@T["FrozenBalance"] <span asp-validation-for="FrozenBalance"></span></label>
    <input asp-for="FrozenBalance" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="TokenApi">
    <label asp-for="TokenApi">@T["TokenApi"] <span asp-validation-for="TokenApi"></span></label>
    <input asp-for="TokenApi" class="form-control" />
</fieldset>