@model OrchardCore.SimService.ViewModels.UserProfilePartViewModel

<div>@T["ProfileId: {0}", Model.ProfileId]</div>
<div>@T["Email: {0}", Model.Email]</div>
<div>@T["UserId: {0}", Model.UserId]</div>
<div>@T["UserName: {0}", Model.UserName]</div>
<div>@T["Vendor: {0}", Model.Vendor]</div>
<div>@T["DefaultForwardingNumber: {0}", Model.DefaultForwardingNumber]</div>
<div>@T["Balance: {0}", Model.Balance]</div>
<div>@T["OriginalAmount: {0}", Model.OriginalAmount]</div>
<div>@T["Amount: {0}", Model.Amount]</div>
<div>@T["RateInUsd: {0}", Model.RateInUsd]</div>
<div>@T["GmailMsgId: {0}", Model.GmailMsgId]</div>
<div>@T["Rating: {0}", Model.Rating]</div>
<div>@T["DefaultCoutryName: {0}", Model.DefaultCoutryName]</div>
<div>@T["DefaultIso: {0}", Model.DefaultIso]</div>
<div>@T["DefaultPrefix: {0}", Model.DefaultPrefix]</div>
<div>@T["DefaultOperatorName: {0}", Model.DefaultOperatorName]</div>
<div>@T["FrozenBalance: {0}", Model.FrozenBalance]</div>
<div>@T["TokenApi: {0}", Model.TokenApi]</div>
